<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta charset="EUC-KR" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      property="og:image"
      content="https://cherground.com/images/meta-img.png"
    />
    <link
      rel="shortcut icon"
      href="https://cherground.com/images/favicon.png"
    />
    <title>Cherground POS</title>
    <meta property="og:title" content="Cherground POS" />
    <meta property="og:description" content="동대문 패션 전문회사" />
  </head>
  <body>
    <div id="root"></div>
    <div id="modal-root"></div>
  </body>
</html> 